/* reset */
body,h1,h2,h3,p,div,ul,li,dl,dt,dd{margin:0;padding:0}
ul,li{list-style:none}
a{text-decoration:none;color:#222}
address{font-style:normal}
body{font-family:"맑은 고딕","돋움",sans-serif,serif;font-size:13px;line-height:1.5;   letter-spacing:-1px;direction:ltr;box-sizing: border-box}
input{-moz-appearance: none;appearance: none;}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;border: 0px;background-color: #ffffff;}
fieldset, legend, form {margin: 0; padding: 0;border: 0;}
/* label {position:absolute;overflow:hidden;clip:rect(0 0 0 0);margin:-1px;width:1px;height:1px} */

/* common */
.hide{position:absolute;left:-9999px;top:-9999px}

/* skipMenu*/
#skipMenu{position:relative}
#skipMenu a{position:absolute;top:-40px;left:0;width:138px;border:1px solid #4ec53d;background:#333;text-align:center}
#skipMenu a:active, #skipMenu a:focus{top:0;z-index:1000;text-decoration:none}
#skipMenu span{display:inline-block;padding:2px 6px 0 0;color:#fff;letter-spacing:-1px;font-size:13px;line-height:26px}

/* header */
#header {font-size: 18px;font-weight: normal;height: 80px;width: 1080px;position: relative;margin: auto;}
#header h1 {position: absolute;left: 0px;top: 15px;}
#header h1 a {display: block;background: url(../images/logo.png) no-repeat;width: 225px;height: 59px;text-indent: -9999px;}

/* gnb */
.gnb {text-align: center;}
.gnb ul {display: inline-block;margin-top: 10px;}
.gnb li {display: inline-block;position: relative;}
.gnb li a {display: block; padding: 25px;}
.gnb li:hover > a {font-weight: bold;}
.gnb ul ul {display: none;position: absolute;top: 100%;z-index: 5;}/* position으로 띄워야 상위요소에 방해가 안됨*/
.gnb li:hover ul {display: block;width: 140px;left: -16px;top: 55px; border: 1px solid #222;border-radius: 5px;background-color: #fff}
.gnb li:hover ul a {padding: 30px 25px 20px;margin-top: -10px;}
.gnb > ul > li:hover::after {content: "";width: 100%; height: 1px;display: block; position: absolute;margin-top: -10px; border-bottom: 3px solid #232323;}

/* top_menu */
.top_menu {position: absolute;right: 0px;top: 20px;}
.top_menu ul {display: inline-block;}
.top_menu li {display: inline-block; position: relative;}
.top_menu li a {display: block;padding: 10px;}
.top_menu li:hover > a {font-weight: bold;}
.top_menu ul ul {display: none;position: absolute;top: 100%;z-index: 5;}
.top_menu li:hover ul {display: block;width: 140px;border: 1px solid #222;left: -95px;top: 55px; border-radius: 5px;background-color: #fff}
.top_menu li:hover ul li {display: block;text-align: center;}

/* content */
.cont1 {background: #c7e9f8;}
.cont1 h2 {position: absolute;top: -9999px;left: -9999px;}
.cont1 p {background: url(../images/top_banner_cont1.jpg) no-repeat;width: 1600px;height: 621px;text-indent: -9999px;margin: auto}

.cont2 h2 {background: url(../images/top_banner_cont2.jpg) no-repeat;width: 1600px;height: 473px;text-indent: -9999px;margin:0 auto 6px}
.cont2 p {position: absolute;top: -9999px;left: -9999px;}

.btn_join {width: 1600px;text-align: center;margin: auto}
.btn_join a {width: 374px;height: 66px;font-size: 20px;font-weight: bold;line-height: 66px;background: #fbe44d;display: inline-block;margin-bottom: 20px}

.cont3 h2 {background: url(../images/top_banner_cont3.jpg) no-repeat;width: 1600px;height: 403px;text-indent: -9999px;margin:0 auto 6px;}
.cont3 p {position: absolute;top: -9999px;left: -9999px;}

.btn_point {width: 1600px;text-align: center;margin: auto}
.btn_point a {width: 374px;height: 66px;font-size: 20px;font-weight: bold;line-height: 66px;background: #fbe44d;display: inline-block;margin-bottom: 42px}

.cont4 {background: #333333;}
.cont4 h2 {background: url(../images/top_banner_cont4.jpg) no-repeat;width: 1600px;height: 246px;text-indent: -9999px;margin: auto}
.cont4 p {position: absolute;top: -9999px;left: -9999px;}



/* footer */
#footer {height: 210px;background: #3e3a39;color: #e1e1e1;}
#footer a {color: #e1e1e1;}

.footer_wrap {width: 1080px;margin: auto;position: relative;}
.footer_wrap h2 {background: url(../images/logo-white.png) no-repeat; width: 232px;height: 64px;text-indent: -9999px;position: absolute;top: 100px;right: 0px;}
.terms {display: inline-block;font-size: 16px;}
.terms ul {position: absolute;top: 45px;}
.terms li {float: left;padding-right: 37px;}
.terms li a {display: block;}

.social_link ul {position: absolute;right: 0px; top: 45px}
.social_link li {float: left;}
.social_link a {display: block;width: 30px;height: 30px;}
.instar {background: url(../images/instar_logo.png) no-repeat; width: 30px;height: 30px;text-indent: -9999px;}
.facebook {background: url(../images/facebook_logo.png) no-repeat; width: 30px;height: 30px;text-indent: -9999px;margin-left: 10px;}

.address {position: absolute;font-size: 14px;top: 85px;}








