@charset "utf-8";
/* 새글 스킨 (latest) */

.lat {position:relative;overflow:hidden;background:#fff}
.lat .lat_title {display:block;line-height:30px;font-size:1.083em;border-bottom:2px solid #23658a;color:#23658a;font-weight: bold;}
.lat .lat_title a{color:#23658a;display:inline-block;position:relative}
.lat li {position:relative;line-height:18px;width: 31%;float: left;margin:10px 0}

.lat li:nth-child(3) {float: right;}
.lat li:nth-child(1) {margin-right: 23px}
.lat li img{width:100%;height:150px;display:block;box-sizing: border-box;margin-bottom: 5px;object-fit: cover;} /* 이미지 스타일 추가 */

.lat li a:hover{color:#a22121;}
.lat li .fa-heart{color:#ff0000;}
.lat li .fa-lock{display: inline-block;line-height: 14px;width: 16px;font-size: 0.833em;color: #4f818c;background: #cbe3e8;text-align: center;border-radius: 2px;font-size: 12px;border:1px solid #a2c6ce}
.lat li .new_icon{display:inline-block;width: 16px;line-height:16px;font-size:0.833em;color:#ffff00;background:#6db142;text-align:center;border-radius: 2px;}
.lat li .hot_icon{display:inline-block;width: 16px;line-height:16px ;font-size:0.833em;color:#fff;background:#e52955;text-align:center;border-radius: 2px;}
.lat li .fa-caret-right{color:#bbb}
.lat  .empty_li{line-height:145px ;color:#666;text-align:center;padding:0;}
.lat  .empty_li:before{background:none;padding:0}

.lat .lt_cmt{background:#5c85c1;color:#fff; font-size:11px;height:16px;line-height:16px;padding:0 5px;border-radius:3px;
-webkit-box-shadow: inset 0 2px 5px  rgba(255,255,255,0.4);
-moz-box-shadow: inset 0 2px 5px  rgba(255,255,255,0.4);
box-shadow: inset 0 2px 5px  rgba(255,255,255,0.4);}
.lat .lt_more {position:absolute;top:11px;right:0;display:block;width:25px;color:#23658a;border-radius:3px;text-align:center;}
